{% extends "shit.html" %}
{% block title %}
	Shitty Video
{% endblock %}

{% block content %}
   <h1>The best of youtube</h1>
   <iframe width="560" height="315" src="https://www.youtube.com/embed/WtftZPL-k7Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   
   <iframe width="560" height="315" src="https://www.youtube.com/embed/hUrBKFG9Ilw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   
{% endblock %}